.cards {
  background: #2b3847;
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.eventImage {
  margin-bottom: 10px;
}

.eventText > h3 {
  display: flex;
  justify-content: flex-start;
}

.eventText > h5 {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}

.eventText > p {
  margin-bottom: 20px;
  float: right;

}

.eventText > img {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  color: #FFE21E;
}

.eventText > button {
  display: flex;
  justify-content: flex-end;
}

