.homescreen-wrapper {
  display: flex;
  overflow: hidden;
  height: 90vh;
  width: 100vw;
  padding-bottom: 40px;
}


  /* CENTER WITH ABSOLUTE POSITION */
  /* top: 900px; */
  /* left: 51%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); */