.main-header {
  font-family: 'Geometria-Medium';
}

.ongoing-events-wrapper {
  padding: 0 50px 0 50px;
}

.upcoming-match-wrapper {
  width: 100%;
  background: #1C2440;
  border-radius: 5px;
  padding: 50px;
}

.swedenimg {
  height: 50px;
  width: 50px;
}

.break {
  flex-basis: 100%;
  height: 0;
}