@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: normal;
  src: local('Geometria'), url('./assets/fonts/Geometria.woff') format('woff');
  }

.app-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: 20% 1fr 20%;
  background-color: #141d26;
  font-family: 'Geometria';
  color: white;
}

.app-header {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  color: white;
  font-size: 2em;
  margin-top: 10px;
}

.app-navbar {
  grid-column: 3/4;
  grid-row: 2/3;
}

.app-content {
  grid-column: 2/3;
  text-align: center;
}