.single-team {
  display: flex;
  background: rgb(225,233,235);
  background: linear-gradient(90deg, rgba(225,233,235,1) 35%, rgba(245,245,245,1) 100%);
  width: 100%;
  height: 98%;
  align-items: center;
  color: black;
}

.single-team > h2, .single-team > h3 {
  margin: 0;
}

.single-team > h2 {
  margin-right: 100px;
  margin-left: 10px;
}

.standings-logos {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.placing-logo-group {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.name-wins-group {
  margin-left: 40px;
}

.name-wins-group > h2, .name-wins-group > h3 {
  margin: 0;
}